<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-lime">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-paint-brush"></i> Drawing Tools</h3>
            </div>
            <div class="panel-body" id="dashboard">
                <div>
                    <label for="currentColor">Current Color:</label><br>
                    <input type="color" id="currentColor"/><br>
                </div>
                <button id="ledOff">Turn Off Single LED</button>
                <button id="reset">Reset Drawing</button>
                <% if !user_signed_in? %>
                  <button data-toggle="popover" data-placement="top" data-content="You must be logged in to save drawings." data-original-title="Save Drawing" id="saveLogin">Save Drawing</button>
                <% else %>
                  <button id="saveDrawing">Save Drawing</button>
                    <form id="saveForm" class="hide">
                      <label for="saveName">Enter Drawing Name:</label>
                      <input type="text" id="saveName"><br>
                      <p type="hidden" style="color:red" id="saveAlert"></p>
                      <input type="hidden" id="saveUserId" value='<%=current_user.id%>'>
                      <button type="submit" id="save">Save</button>
                    </form>
                <% end %>
            </div>
        </div>
        <div class="panel panel-aqua">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bookmark"></i> My Saved Drawings</h3>
            </div>
            <div class="table-responsive">
              <div id="userDrawings">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Load</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if user_signed_in? %>
                      <% current_user.drawings.each do |drawing| %>
                        <tr>
                          <td><%= drawing.name %></td>
                          <td><i id="d<%= drawing.id %>" class="fa fa-play-circle"></i></td>
                          <td>
                            <%= link_to drawing, method: :delete, data: { confirm: 'Are you sure?' } do %>
                              <i class="fa fa-trash"></i>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-orange">
          <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-cube"></i> EllieDee</h3>
          </div>
            <div class="panel-body">
                <div id="ellieDee">
          				<table id="ledMatrix"></table>
    				      <div id="logoRow">
                    <div id="logoBackground"><img id="logo" src="<%= asset_path('brickh3dTransparent.png') %>"></>
                    </div>
    				      </div>
                  <input type="hidden" id="ellieDeeId" value="<%=@drawing.id%>"/>
                  <input type="hidden" id="ellieDeeObj" value="<%=@drawing.to_json%>"/>
    			      </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
